{{#each table}}
<li class='list-group-item mt-4'>
  <h2>Table-{{@index}}</h2>
  <hr>
  <h2>ID: {{customerID}}</h2>
  <h2>Name: {{customerName}}</h2>
  <h2>Email: {{customerEmail}}</h2>
  <h2>Phone: {{phoneNumber}}</h2>
</li>
{{/each }}